Assets/Animators/
Assets/Audio/
Assets/Effects/
Assets/PolygonPrototype/
Assets/Prefabs/
Assets/TextMesh Pro/
Library/
ProjectSettings/
obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.CoreCompileInputs.cache
obj/
Assets/Materials/


